body{
  /*font-family: 'Inknut Antiqua', serif;*/
      font-family: 'Karla', sans-serif;
}
p, #project {
  font-size: 1.6rem;
}

.navbar-custom, .sub-section{
  font-family: 'Inknut Antiqua', serif;
}
tab1 { padding-left: 2em; }
tab2{ padding-left: 4em; }
/*===============*/
/*    NAVBAR     */
/*===============*/
/*Brand*/
.blink_me {
  animation: blinker 1.7s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

#shell{
    background: #383737;
    /*padding: 10px;*/
    width: 90px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    color: #fafafa;
}

#terminal{
  background: #ccc;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888
}


/*Main nav*/
.navbar{
  /*height: 110px;*/
  min-height: 13vh;
  text-align: center;
  /*opacity: 0.5;*/
}

.navbar-custom{
  /*background: #355BA4;*/
  background: #616B88;

}

.navbar-custom li a{
  color: #f4f6fb;
  line-height: 80px;
  border-width: 2px;
  border-color: green;
}
.navbar-brand, .navbar-nav>li>a{
  text-shadow: none;
}
.nav>li>a:focus, .nav>li>a:hover{
  background: transparent;
}
.navbar-text{
  font-size: 15px;
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
  display:inline-block;
    float:none;
}



/*===============*/
/*  HOME SECTION */
/*===============*/

#home{

    margin-top: 110px;
    text-align: center;
    min-height: 87vh;
    background: #33447A;
    color: #f4f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home  h1{
  font-family: 'Baloo', cursive;
    font-size: 5em;
    text-transform: uppercase;
}

#home > content {
  font-weight: bold;
}

#home h3{
  font-family: 'Lobster', cursive;
  /*font-family: 'Inknut Antiqua', serif;*/
  /*font-family: 'Bree Serif', serif;*/
}


#links{
    text-align: center;
    font-size: 4em;
    vertical-align: baseline;
    color: black;

}

#links a{
  color: black;
}

#links img{
  height: 56px;
}

/*====================*/
/*  PORTFOLIO SECTION */
/*====================*/

#portfolio{
    padding: 40px 80px;
}

#portfolio .project{
  padding: 20px 20px;
}

#portfolio .project > img{
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-right: 30px;
}

#portfolio .project > .description{
  width: 60%;
  display: inline-block;
}

#portfolio .detail{
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  text-decoration: none;

}
#portfolio a{
  text-decoration: none;
  border-bottom: 1px dashed #000;
}
.project .description h3{
  padding: 20px 0px;
  font-weight: bold;
}

/*==================*/
/*  PROJECT PAGE    */
/*==================*/
#project header{

  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  background: url("/img/library_code.png");
  color: #fafafa;
}

#project .navbar-custom{
  background: transparent;
}
#project .brief .content{
  padding-top: 120px;
  text-align: center;
  width: 100%;
  z-index: 999;
}

#project .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
}

#project .no-bullet{
  list-style: none;
}

#project h4{
  font-size: 2.3rem;
}
/*==================*/
/*  LIBRARY PAGE    */
/*==================*/
.thumbnail img{
  height: 300px;
}
.thumbnail{
  width: 350px
}
